.container-title
    display: flex-block
    position: relative
    justify-content: center
    align-items: center
    width: 30%
    height: 40%
    margin-top: 7%
    left: 10%

    h1
        font-size:56px
        font-family: sora
   
    h3
        font-size:24px
        font-family: sora
        color: #3D7BF7

    a
        display: flex
        margin-top: 44px
        font-family: inter
        font-size: 22px

.container-icons
    display: flex
    position: relative
   
    a
        gap: 25px

    .icon
       color: #3D7BF7
       width: 50px
       height: 50px
       cursor: pointer
       max-width: 40px
       
@media (max-width: 768px)
  .container-title
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 5%
    width: 75%

    h1
        width: 100%
        font-size: 24px

    h3
        width: 100%
        font-size: 14px

    a
        width: 70%
        font-size: 14px
        margin-top: 20px

    .container-icons
        width: 15%
        height: 80px

        a     
            width: 70px
            gap: 20px
    
  
@media (max-width: 480px)
  .container-title
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 5%
    width: 85%
    h1
        width: 100%
        font-size: 32px

    h3
        width: 100%
        font-size: 16px

    a
        width: 70%
        font-size: 16px
        margin-top: 20px

    .container-icons
        margin-left: 20px
        width: 100px
        height: 80px

        a     
            width: 80px
            gap: 20px
    



